<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<link type="text/css" rel="stylesheet" href="/resume/css/red.css" />
<link type="text/css" rel="stylesheet" href="/resume/css/print.css" media="print"/>
<!--[if IE 7]>
<link href="/css/resume/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="/css/resume/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="/resume/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/resume/js/jquery.tipsy.js"></script>
<script type="text/javascript" src="/resume/js/cufon.yui.js"></script>
<script type="text/javascript" src="/resume/js/scrollTo.js"></script>
<script type="text/javascript" src="/resume/js/myriad.js"></script>
<script type="text/javascript" src="/resume/js/jquery.colorbox.js"></script>
<script type="text/javascript" src="/resume/js/custom.js"></script>
<script type="text/javascript">
    Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image -->
          <img class="portrait" src="/resume/images/avatar.png" alt="Roman Heinrich" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">Roman Heinrich <br />
              <span>Ruby/Rails/DevOps</span></h1>
            <ul>
              <li class="ad">Almstadtstr. 2, 10119, Berlin</li>
              <li class="mail">roman.heinrich@gmail.com</li>
              <li class="tel">+49 152 33 74 73 77</li>
              <li class="web"><a href="http://devopsbox.es">devopsbox.es</a></li>
              <li class="web">
                <a href="http://twitter.com/mindreframer">twitter</a> /
                <a href="http://github.com/mindreframer">github</a> : mindreframer</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
              <li><a class='north' href="/resume/resume.pdf" title="Download .pdf"><img src="/resume/images/icn-save.jpg" alt="Download the pdf version" /></a></li>
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <div class="entry">
          <h2>OBJECTIVE</h2>
            <div class="content">
            <ul class="info">
              <li>Software is eating the world - bon appétit!</li>
              <li>Infrastructure should be software-defined</li>
              <li>"Skate where the puck is going" - tech is changing rapidly, stay in tune</li>
              <li>Technology should be there for humans, not the other way around</li>
              <li>You build it - you run it!</li>
            </ul>
            </div>
        </div>


        <div class="entry">
          <h2>EDUCATION</h2>
          <div class="content">
            <h3>2003 - 2008</h3>
            <p>University of Paderborn <br />
              <em>Business Informatics (Wirtschaftsinformatik)</em></p>
          </div>
          <div class="content">
            <h3>continuing</h3>
            <p>many self-paced online/offline courses</p>
          </div>
        </div>
        <div class="entry">
          <h2>EXPERIENCE</h2>
          <div class="content">
            <h3> 2006/11 - present</h3>
            <p>working with Unix/Web technologies<br />
              <em>Web Developer</em></p>
            <ul class="info">
              <li>great interest in optimization / simplification / slimification</li>
              <li>worked with many of NoSQL databases</li>
              <li>coded in many languages</li>
              <li>little hesitance to learn new stuff</li>
              <li>test-driven / readme-driven / literate programming</li>
              <li>able to dive deeper, if necessary</li>
            </ul>
          </div>
          <div class="content" style="page-break-before:always">
            <h3>Okt 2008 - Apr 2013</h3>
            <p>Rails developer, DevOps engineer, MySQL DBA<br />
              <em>Dawanda GmbH</em></p>
            <ul class="info">
              <li>Puppet / Ruby / MySQL-Percona / AWS(S3/EC2) / Redis / Varnish / Solr / Monitoring / Ubuntu / OpenVZ / OpenStack / etc</li>
              <li>Fullstack optimization</li>
              <li>Automation</li>
              <li>Virtualization</li>
            </ul>
          </div>

          <div class="content">
            <h3>Jul 2007 - Okt 2007</h3>
            <p>Integration for a financial calculations library<br />
              <em>Deutsche Bank/DVAG venture</em></p>
            <ul class="info">
              <li>Java, Groovy, JUnit, Java Reflection</li>
            </ul>
          </div>

          <div class="content">
            <h3>Aug 2007 - Sep 2007</h3>
            <p>Innovative DMS-Client Prototype for DMS-Messe in Cologne<br />
              <em>University Paderborn/Ceyoniq Technology GmbH</em></p>
            <ul class="info">
              <li>Flex 2, ActionScript3, AIR, 3D, Usability</li>
            </ul>
          </div>

          <div class="content">
            <h3>2006/04 - 2007/01</h3>
            <p>Housing Credit Consulting Tool<br />
              <em>Deutsche Bank</em></p>
            <ul class="info">
              <li>VBA 6.0, Excel 2000, PDF-Generation</li>
            </ul>
          </div>

          <div class="content">
            <h3>2005/08 - 2005/09</h3>
            <p>Student Credit Consulting Tool<br />
              <em>Deutsche Bank</em></p>
            <ul class="info">
              <li>VBA 6.0, Excel 2000, PDF-Generation</li>
            </ul>
          </div>

          <div class="content">
            <h3>2005/04 - 2005/05</h3>
            <p>TopCredit Consulting Tool<br />
              <em>Deutsche Bank</em></p>
            <ul class="info">
              <li>VBA 5, Excel 97, Actobat, PDF</li>
            </ul>
          </div>

        </div>
        <div class="entry">
          <h2>SKILLS</h2>
          <div class="content">
            <h3>Software Knowledge</h3>
            <ul class="skills">
              <% transposed_skills.each do |skill| %>
                <li><%= skill %> </li>
              <% end %>
            </ul>
          </div>
          <div class="content">
            <h3>Languages</h3>
            <ul class="skills">
              <li>Ruby</li>
              <li>Golang</li>
              <li>LUA</li>
              <li>JavaScript</li>
              <li>CoffeeScript</li>
              <li>ActionScript</li>
              <li>CSS/XHTML</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<!-- End Wrapper -->
</body>
</html>
